# general things to ignore
.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# virtualenv
env*/
venv/
.venv*
#.env*

# codecov / coverage
.coverage
cov_*
coverage.xml

# due to using tox and pytest
.tox
.cache
.pytest_cache/
.python-version
pip
.mypy_cache/

# JetBrains PyCharm settings
.idea/

tmp.txt
.DS_Store
logs/

*.db

.pytype/
unzip_requirements.py
.requirements.zip

.serverless/
node_modules/
package-lock.json

.env*